/playbooks/roles/ansible-haproxy
/playbooks/roles/ansible-haproxy-consul-template
.gradle
target
build/
*.iml
*.ipr
*.iws
*.swp
out
reports
.DS_Store
.idea
generated
.vagrant/
playbooks/roles/ansible-consul
playbooks/roles/ansible-consul-template
playbooks/roles/ansible-docker
playbooks/roles/ansible-nginx-consul-template
playbooks/roles/ansible-nginx
playbooks/roles/ansible-zookeeper
/playbooks/roles/ansible-mesos
/playbooks/roles/ansible-marathon
/playbooks/roles/ansible-dnsmasq
/playbooks/roles/ansible-docker-registry
playbooks/roles/ansible-java8